 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    
                    <h2 class="text-center mb-4">Nueva Contraseña</h2>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <input id="password" 
                                       [type]="mostrarClave ? 'text' : 'password'" 
                                       formControlName="password" 
                                       autocomplete="new-password"
                                       class="form-control"
                                       (paste)="$event.preventDefault()" 
                                       [class.is-invalid]="form.get('password')?.touched && form.get('password')?.invalid">

                                <button type="button" (click)="toggleVisibility('password')" class="btn-cafe-password input-group-text">
                        @if (mostrarClave) 
                         { <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> } 
                    @else { 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                    </button>
                            </div>
                            
                            @if (form.get('password')?.touched && form.get('password')?.invalid) {
                                <div class="text-danger small mt-1">
                                      @if (form.get('password')?.hasError('required')) { La clave es obligatoria. }
                        @if (form.get('password')?.hasError('minlength')) { Se solicita un mínimo de 8 caracteres. }
                        @if (form.get('password')?.hasError('noMayuscula')) { Debe tener al menos una Mayúscula. }
                        @if (form.get('password')?.hasError('noMinuscula')) { Debe contener al menos una minúscula. }
                        @if (form.get('password')?.hasError('noNumero')) { Debe contener al menos un número. }
                        @if (form.get('password')?.hasError('noEspecial')) { Debe contener al menos un carácter especial (@$!%*?&). }
                    </div>
                            }
                        </div>

                        <div class="mb-4">
                            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                            <div class="input-group">
                                <input id="confirmPassword" 
                                       [type]="mostrarConfirmarClave ? 'text' : 'password'" 
                                       formControlName="confirmPassword" 
                                       autocomplete="new-password"
                                       class="form-control"
                                       (paste)="$event.preventDefault()"
                                       [class.is-invalid]="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">

                               <button type="button" (click)="toggleVisibility('confirmPassword')" class="btn-cafe-password input-group-text">
                          @if (mostrarConfirmarClave) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                   
                        </button>
                            </div>

                            @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('mismatch')){
                                <div class="text-danger small mt-1">Las contraseñas no coinciden.</div>
                            }
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">
                                Restablecer Contraseña
                            </button>
                        </div>

                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
 
 
 
 
 
 
 
 
 
 