 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    
                    <h2 class="text-center mb-4">Nueva Contraseña</h2>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <input id="password" 
                                       [type]="mostrarClave ? 'text' : 'password'" 
                                       formControlName="password" 
                                       autocomplete="new-password"
                                       class="form-control"
                                       (paste)="$event.preventDefault()" 
                                       [class.is-invalid]="form.get('password')?.touched && form.get('password')?.invalid">

                                <button type="button" (click)="toggleVisibility('password')" class="btn-cafe-password input-group-text">
                        @if (mostrarClave) 
                         { <app-icon name="OJO_OPEN"></app-icon> } 
                    @else { 
                        <app-icon name="OJO_CLOSE"></app-icon>
                }
                    </button>
                            </div>
                            
                            @if (form.get('password')?.touched && form.get('password')?.invalid) {
                                <div class="text-danger small mt-1">
                                      @if (form.get('password')?.hasError('required')) { La clave es obligatoria. }
                        @if (form.get('password')?.hasError('minlength')) { Se solicita un mínimo de 8 caracteres. }
                        @if (form.get('password')?.hasError('noMayuscula')) { Debe tener al menos una Mayúscula. }
                        @if (form.get('password')?.hasError('noMinuscula')) { Debe contener al menos una minúscula. }
                        @if (form.get('password')?.hasError('noNumero')) { Debe contener al menos un número. }
                        @if (form.get('password')?.hasError('noEspecial')) { Debe contener al menos un carácter especial (@$!%*?&). }
                    </div>
                            }
                        </div>

                        <div class="mb-4">
                            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                            <div class="input-group">
                                <input id="confirmPassword" 
                                       [type]="mostrarConfirmarClave ? 'text' : 'password'" 
                                       formControlName="confirmPassword" 
                                       autocomplete="new-password"
                                       class="form-control"
                                       (paste)="$event.preventDefault()"
                                       [class.is-invalid]="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">

                               <button type="button" (click)="toggleVisibility('confirmPassword')" class="btn-cafe-password input-group-text">
                          @if (mostrarConfirmarClave) {
                    <app-icon name="OJO_OPEN"></app-icon>
                } @else {
                    <app-icon name="OJO_CLOSE"></app-icon>
                }
                   
                        </button>
                            </div>

                            @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('mismatch')){
                                <div class="text-danger small mt-1">Las contraseñas no coinciden.</div>
                            }
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">
                                Restablecer Contraseña
                            </button>
                        </div>

                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
 
 
 
 
 
 
 
 
 
 