<div class="container-form">
    <h2>
        @if (mode === 'registro') { Crear cuenta }
        @else if (mode === 'admin') { Crear usuario administrador }
        @else { Editar perfil }
    </h2>

    <div class="col-12 d-flex justify-content-center mb-4">
            <div class="profile-upload-container">
                
                <label for="fotoPerfilInput" class="avatar-circle">
                    @if (fotoPreview) {
                        <img [src]="fotoPreview" class="avatar-img" alt="Foto perfil">
                    } 
                    @else {
                        <div class="avatar-placeholder">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                        </div>
                    }

                    <div class="avatar-overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-camera-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 2.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1M8 13a5 5 0 1 1 0-10 5 5 0 0 1 0 10m0 1a6 6 0 1 0 0-12 6 6 0 0 0 0 12"/>
                        </svg>
                    </div>
                </label>

                <input type="file" id="fotoPerfilInput" (change)="onFileSelected($event)" accept="image/*" class="d-none">

                @if (fotoPreview) {
                    <button type="button" class="btn-remove-photo" (click)="quitarFotoPerfil()" title="Eliminar foto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                }
            </div>
        </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">

        <div class="col-md-12"> 
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control"
                [class.is-invalid]="form.get('nombre')?.touched && form.get('nombre')?.invalid"
                [class.is-valid]="form.get('nombre')?.touched && form.get('nombre')?.valid">

            @if (form.get('nombre')?.touched && form.get('nombre')?.invalid) {
                <div class="invalid-feedback">
                    @if (form.get('nombre')?.hasError('required')) { El nombre es obligatorio. }
                    @if (form.get('nombre')?.hasError('whitespace')) { El nombre no puede ser solo espacios. }
                    @if (form.get('nombre')?.hasError('minlength') || form.get('nombre')?.hasError('maxlength')) { Debe tener entre 3 y 20 caracteres. }
                </div>
            }
        </div>

        <div class="col-md-12">
            <label for="apellido" class="form-label">Apellido</label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control"
                [class.is-invalid]="form.get('apellido')?.touched && form.get('apellido')?.invalid"
                [class.is-valid]="form.get('apellido')?.touched && form.get('apellido')?.valid">

            @if (form.get('apellido')?.touched && form.get('apellido')?.invalid) {
                <div class="invalid-feedback">
                    @if (form.get('apellido')?.hasError('required')) { El apellido es obligatorio. }
                    @if (form.get('apellido')?.hasError('whitespace')) { El apellido no puede ser solo espacios. }
                    @if (form.get('apellido')?.hasError('minlength') || form.get('apellido')?.hasError('maxlength')) { Debe tener entre 3 y 20 caracteres. }
                </div>
            }
        </div>

        <div class="col-md-12">
            <label for="email" class="form-label">Correo electrónico</label>
            <input id="email" type="email" formControlName="email" autocomplete="new-password" class="form-control"
                [class.is-invalid]="form.get('email')?.touched && form.get('email')?.invalid"
                [class.is-valid]="form.get('email')?.touched && form.get('email')?.valid">

            @if (form.get('email')?.touched && form.get('email')?.invalid) {
                <div class="invalid-feedback">Ingrese un email válido.</div>
            }
        </div>

        @if (mode !== 'edit') {
            <div class="col-md-12">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input id="password" 
                           [type]="mostrarClave ? 'text' : 'password'" 
                           formControlName="password" 
                           autocomplete="new-password"
                           class="form-control"
                           (paste)="$event.preventDefault()" 
                           [class.is-invalid]="form.get('password')?.touched && form.get('password')?.invalid">

                    <button type="button" (click)="toggleVisibility('password')" class="btn-cafe-password input-group-text">
                        @if (mostrarClave) 
                         { <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> } 
                    @else { 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                    </button>
                </div>
                
                @if (form.get('password')?.touched && form.get('password')?.invalid) {
                    <div class="invalid-feedback d-block">
                        @if (form.get('password')?.hasError('required')) { La clave es obligatoria. }
                        @if (form.get('password')?.hasError('minlength')) { Se solicita un mínimo de 8 caracteres. }
                        @if (form.get('password')?.hasError('noMayuscula')) { Debe tener al menos una Mayúscula. }
                        @if (form.get('password')?.hasError('noMinuscula')) { Debe contener al menos una minúscula. }
                        @if (form.get('password')?.hasError('noNumero')) { Debe contener al menos un número. }
                        @if (form.get('password')?.hasError('noEspecial')) { Debe contener al menos un carácter especial (@$!%*?&). }
                    </div>
                }
            </div>

            <div class="col-md-12">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <div class="input-group">
                    <input id="confirmPassword" 
                           [type]="mostrarConfirmarClave ? 'text' : 'password'" 
                           formControlName="confirmPassword" 
                           autocomplete="new-password"
                           class="form-control"
                           (paste)="$event.preventDefault()"
                           [class.is-invalid]="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">

                    <button type="button" (click)="toggleVisibility('confirmPassword')" class="btn-cafe-password input-group-text">
                          @if (mostrarConfirmarClave) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                   
                        </button>
                </div>

                @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('mismatch')) {
                    <div class="invalid-feedback d-block">La clave no coincide.</div>
                }
            </div>
        }

        

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary btn-custom" [disabled]="form.invalid || (mode === 'edit' && !isFormDirty)">
                @if (mode === 'registro') { Registrarme }
                @else if (mode === 'admin') { Crear usuario admin }
                @else { Guardar cambios }
            </button>
        </div>
    </form>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn-back" (click)="volver()">Volver</button>
    </div>
</div>