<div class="container-form animate__animated animate__fadeIn">
    <h2>Cambiar Contraseña</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
        
        <div class="col-12">
            <label for="claveActual" class="form-label">Contraseña Actual</label>
            <div class="input-group">
                <input 
                    id="claveActual" 
                    [type]="mostrarClaveActual ? 'text' : 'password'" 
                    formControlName="claveActual"
                    autocomplete="off"
                    class="form-control"
                    [class.is-invalid]="form.get('claveActual')?.touched && form.get('claveActual')?.invalid">
                
                <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility('actual')">
                    <i class="bi" [class.bi-eye-fill]="mostrarClaveActual" [class.bi-eye-slash-fill]="!mostrarClaveActual"></i>
                    @if(mostrarClaveActual){
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> } 
                    @else { 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                </button>
            </div>
           @if (form.get('claveActual')?.touched || form.get('claveActual')?.dirty) {
                <div class="text-danger small mt-1">
                    @if (form.get('claveActual')?.hasError('required')) { La contraseña actual es obligatoria. }
                </div>
            }
        </div>

        <div class="col-12">
            <label for="nuevaClave" class="form-label">Nueva Contraseña</label>
            <div class="input-group">
                <input 
                    id="nuevaClave" 
                    [type]="mostrarNuevaClave ? 'text' : 'password'" 
                    formControlName="nuevaClave" 
                    autocomplete="off"
                    class="form-control"
                    (paste)="$event.preventDefault()"
                    [class.is-invalid]="form.get('nuevaClave')?.touched && form.get('nuevaClave')?.invalid">

                <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility('nueva')">
                    @if (mostrarNuevaClave) {
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> } 
                    @else { 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                </button>
            </div>

            @if (form.get('nuevaClave')?.touched && form.get('nuevaClave')?.invalid) {
                
                <div class="invalid-feedback d-block">
                        @if (form.get('nuevaClave')?.hasError('required')) { La clave es obligatoria. }
                        @if (form.get('nuevaClave')?.hasError('minlength')) { Se solicita un mínimo de 8 caracteres. }
                        @if (form.get('nuevaClave')?.hasError('noMayuscula')) { Debe tener al menos una Mayúscula. }
                        @if (form.get('nuevaClave')?.hasError('noMinuscula')) { Debe contener al menos una minúscula. }
                        @if (form.get('nuevaClave')?.hasError('noNumero')) { Debe contener al menos un número. }
                        @if (form.get('nuevaClave')?.hasError('noEspecial')) { Debe contener al menos un carácter especial (@$!%*?&). }
                         @if (form.get('nuevaClave')?.hasError('sameAsOld')) {La nueva contraseña no puede ser igual a la anterior.}
                    </div>
            }
        </div>

        <div class="col-12">
            <label for="confirmarClave" class="form-label">Confirmar Nueva Contraseña</label>
            <div class="input-group">
                <input 
                    id="confirmarClave" 
                    [type]="mostrarConfirmarClave ? 'text' : 'password'" 
                    formControlName="confirmarClave" 
                    autocomplete="off"
                    class="form-control"
                    (paste)="$event.preventDefault()"
                    [class.is-invalid]="form.get('confirmarClave')?.touched && form.get('confirmarClave')?.invalid">

                <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility('confirmar')">
                    @if(mostrarConfirmarClave) {
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> } 
                    @else { 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.029 7.029 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a3.5 3.5 0 0 1 2.829 2.828z"/>
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12z"/>
                    </svg>
                }
                </button>
            </div>

            @if (form.get('confirmarClave')?.touched && form.hasError('mismatch')) {
                <div class="text-danger small mt-1">Las contraseñas no coinciden.</div>
            }
        </div>

        @if (mensajeError) {
            <div class="alert alert-danger w-100 text-center">
                {{ mensajeError }}
            </div>
        }

        <div class="text-end mt-1">
                <a href="javascript:void(0)" class="forgot-link" (click)="showForgotModal = true">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>

        <div class="col-12 mt-3">
            <button type="submit" [disabled]="form.invalid" class="btn btn-custom w-100">
                Actualizar Contraseña
            </button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center mt-3">
    <button class="btn-back" (click)="volver()">Volver al Perfil</button>
</div>

<div class="modal-auth">
    <app-modal-drawer 
        [isOpen]="showForgotModal" 
        [title]="'Recuperar Contraseña'" 
        (close)="showForgotModal = false">

        <app-forgot-password (close)="showForgotModal = false"></app-forgot-password>

    </app-modal-drawer>
</div>